mixin team-icon(name)
  svg
    use(xlink:href="/images/team-icon.svg##{name}")

mixin svg-icon(name, klass)
  svg(class=klass)
    use(xlink:href="/images/svg-icon.svg#icon-#{name}")

mixin sns-facebook(url)
  a.share-btn.share-btn--facebook(href=url, title="分享至 Facebook")
    +svg-icon('sns-facebook')

mixin sns-twitter(url)
  a.share-btn.share-btn--twitter(href=url, title="分享至 Twitter")
    +svg-icon('sns-twitter')

mixin talk-header()
mixin talk-nav__link($type, $programData)
  a.talk-nav__link(
    class="talk-nav__link--#{$type}",
    href="/talk/#{$programData.program_number_full}.html")
    .talk-nav__info(style="background-image: url('/images/slider/program#{$programData.program_number_full}_icon.jpg')")
      span.ib.talk-nav__info__num.pr1= $programData.program_number_full
      span.ib= $programData.program_topic

  h1.clear
    .share-btns.float-right
      +sns-facebook('###')
      +sns-twitter('###')

mixin talk-title($talkOrder, $talkGuest, $talkTitle)
  .talk-title.clear
    .talk__num.pr2.text-pink= $talkOrder
    .talk__hd
      .talk__guest.text-pink= $talkGuest
      h1.talk__title= $talkTitle
