//- filter empty program
- programs = programs.filter((p) => p.program_topic);

section.slider.mxa
  h1.slider-head.vh
    .container.vv
      img.logo.logo--index.float-right(src="images/logo/logo.svg", alt="政問 logo", width="102", height="128")
      .share-btns.float-left
        +sns-facebook('http://talkto.tw/')
        +sns-twitter('http://talkto.tw/')

  .slider-body
    each program, index in programs
      if program.program_topic
        - var bgi = `url('images/slider/program${program.program_number_full}_thumb.jpg')`;
        - var bgp = program.bg_position && `background-position: ${program.bg_position};`;

        a.slider-content(
          href="talk/#{program.program_number_full}.html",
          style="background-image: #{bgi}; #{bgp}")
          .container: .program-info--wrapper
            .program-info
              .program__guest.text-pink=program.guest
              .program__title!=program.title.replace(/，/g, '<br>').replace(/&#8203;/g, '<br>')
              time.program__time.text-gray 12 月 23 日（三）21:00 – 21:30
              if allPoints['point' + program.program_number_full + '.json']
                .program__link.px3(href="/talk/#{program.program_number_full}.html", title="觀看節目彙整 →") 觀看節目彙整 →
              .program__number.text-pink.text-right=program.program_number_full

  .slider-foot.mxa
    .slider-thumbs.list-reset
      each program, index in programs
        if program.program_topic
          .slider-thumb(
            data-order=program.program_number_full,
            title="#{program.program_number_full} - #{program.program_topic} || #{program.guest}",
            style="background-image: url('images/slider/program#{program.program_number_full}_thumb.jpg')")

  script#slider-btn-tmpl(type="text/tmpl")
    button.slider-btn.slider-prev(aria-label="previous", role="button")
      +svg-icon('slider-prev', 'slick-arrow-icon')
    button.slider-btn.slider-next(aria-label="next", role="button")
      +svg-icon('slider-prev', 'slick-arrow-icon')
